<button (click)="initNewPacchetto()"> Crea un nuovo pacchetto </button>

<table>
     <thead>
          <th>Name</th>
          <th>Descrizione</th>
          <th>Prezzo</th>
          <th>Sconto</th>
     </thead>
     <tbody>
          <tr *ngFor="let pacchetto of pacchetti">
               <td>{{ pacchetto.nome }}</td>
               <td>{{ pacchetto.descrizione }}</td>
               <td>{{ pacchetto.prezzo }}</td>
               <td>{{ pacchetto.sconto }}</td>
               <td><button (click)="editPacchetto(pacchetto)">Edit</button></td>
          </tr>
     </tbody>
</table>

<app-edit-pacchetto [pacchetto]="pacchettoToEdit"></app-edit-pacchetto>