<button (click)="initNewCaldaia()"> Crea una nuova Caldaia </button>

<table>
     <thead>
          <th>Name</th>
          <th>Descrizione</th>
          <th>Prezzo</th>
          <th>Sconto</th>
     </thead>
     <tbody>
          <tr *ngFor="let caldaia of caldaie">
               <td>{{ caldaia.nome }}</td>
               <td>{{ caldaia.descrizione }}</td>
               <td>{{ caldaia.prezzo }}</td>
               <td>{{ caldaia.sconto }}</td>
               <td><button (click)="editCaldaia(caldaia)">Edit</button></td>
          </tr>
     </tbody>
</table>

<app-edit-caldaia [caldaia]="caldaiaToEdit" (caldaiaUpdated)="updateCaldaieList($event)"></app-edit-caldaia>
<app-edit-pacchetto [pacchetto]="pacchettoToEdit"></app-edit-pacchetto>